*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Anek Malayan', sans-serif;
    background-color: #221f1f;
    overflow-x: hidden;
}

table{
    width: 100vw;
    text-align: center;
}
.header{
    background-color: #221f1f;
    color: #916b6b;
    font-weight: 700;
    border-collapse: collapse;
    font-size: 0.75em;
    position: fixed; 
}

#logo td{
    height: 48px;
    padding-top: 4px;
}

td{
    height: 50px;
    width: 110px;
    color: #9db7a9;
}

h1{
    color: #ffffff ;
}

.nav-conteudo-lateral{
    width: 450px;
}

.nav-destar{
    color: #ffffff;
    
}

.nav-destar:hover{
    background-color: #15161680;
    border-bottom: 3px solid #ffffff;
    cursor: pointer;
 }

 .borda-azul{
    border-left: 3px solid #4285f4;
 }

 .borda-laranja{
    border-left: 3px solid #fa8805;
 }

 .borda-verde{
    border-left: 3px solid #119b05;
 }

 .borda-vermelha{
    border-left: 3px solid #ce1b0e;
 }

 .tabela-brasileirao{
    position: absolute;
    border: none;
    border-top: none;
    border-bottom: none;
    width: 40vw;
    margin-left: 30%;
    margin-top: 160px;
    z-index: -1;
    font-size: 0.75em;
    border-collapse: collapse;
    background-color: #221f1f;
 }

 .tabela-brasileirao th{
   border-top: 1px solid #3b3b3b; 
   font-weight: 100;
   color: #a8a9ad;
   padding: 4px;
   height: 35px;
 }

 .tabela-brasileirao td{
   border-top: 1px solid #333131; 
   font-weight: 100;
   color: #ffffff;
   padding: 4px;
   height: 38px;
   font-size: 1.2em;
 }

 #tabela-brasileirao-header{
    padding: 15px;
    padding-left: 20px;
    background-color: #f1f3f4;
    text-align: left;
    color: #70758d;
 }

 a{
    color: #ffffff
 }

 #ano{
    font-weight: 600;
    color: #4285f4;
 }

 .tabela-brasileirao img{
    width: 25px;
 } 

 .tabela-colunas-bordas{
    border-top: none !important;
 }

 .titulo-clube{
    width: 35%;
    text-align: left;
 }

 .titulo-ultimas-cinco{
    width: 20%;
 }

 .titulo-ultimas-cinco img{
    width: 17px;
 }

 .legenda table{
   width: 40vw;
   padding: 15px;
   margin: 5px;
   text-align: left;
   border: 1px solid #3b3b3b;
   margin-bottom: 20px;
   margin-top: 20px;
   border-radius: 4px;
   background-color: #05040431;
 }
.legenda th{
   border-top: none;
   font-size: 1.1em;
   font-weight: 700;
   color: #ffffff;
}

.legenda td{
   border-top: none;
   height: 4px;
   width: 50%;
   font-size: 1em;
}

.legenda img{
   width: 12px;
}

